/**

@imgfont-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(fonts/Lato.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(fonts/LatoBold.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(fonts/LatoBlack.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(fonts/LatoItalic.woff) format('woff');
}

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto; }

/**********************************
* Header slide
*********************************/

.section .reveal .state-background {
  background: #1c1e20;
  background: -moz-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #555a5f), color-stop(100%, #1c1e20));
  background: -webkit-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: -o-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: -ms-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background-color: #2b2b2b;
}

.section .reveal h1,
.section .reveal p {
    color: white;
    position: relative;
    top: 4%;
    font-weight: 300;
}

.section .reveal h1 {
    padding-top: 150px;
    text-transform:none;
    line-height: 1.1em;
    font-size: 2em;
    border-bottom: 3px solid #657b83;
    font-family: "Open Sans", sans-serif;
    text-align: left;
}

.section .reveal p {
    font-size: 0.9em;
    font-family: "Open Sans", sans-serif;
}

/********************************************
* subsection
********************************************/

.subsection .reveal .state-background {
 background: #1c1e20;
  background: -moz-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #555a5f), color-stop(100%, #1c1e20));
  background: -webkit-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: -o-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: -ms-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background-color: #2b2b2b;
}

.subsection .reveal h1,
.subsection .reveal h2,
.subsection .reveal p {
    color: white;
    position: relative;
    top: 4%;
    font-weight: 300;
}

.subsection .reveal h1 {
    text-transform:none;
    line-height: 1.1em;
    font-size: 2.5em;
    border-bottom: none;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.subsection .reveal p {
    font-size: 0.9em;
    font-family: "Open Sans", sans-serif;
}

.subsection .reveal h2 {
    text-transform:none;
    line-height: 1.1em;
    font-size: 1.5em;
    border-bottom: none;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fdf6e3;
  background-color: #f7fbfc; }

.reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #47565C;
  }

::selection {
  color: white;
  background: #d33682;
  text-shadow: none; }

/*********************************************
 * LIHAVOINTI
 *********************************************/

.reveal strong, .reveal b {
    font-weight: 700;
    color: black;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #586e75;
  font-family: "Open Sans", sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-shadow: none; }

/******************
* titles slides 
******************/

.reveal h1 {
    font-size: 1.5em;
    text-transform:uppercase;
    font-weight: 300;
    text-align:center;
    padding-top:200px;
    border-bottom: 0px solid #657b83;
    
}

.reveal h2 {
    font-size: 1.2em;
    font-weight: 300;
    /*border-bottom: 1px solid #657b83;*/
}

.reveal h3 { /* regular slide headings */
    font-size: 1.4em;
    font-weight: 500;
    border-bottom: 1px solid #657b83;
}



/****************
* slide content
****************/

.reveal .slides section .slideContent h2 {
    font-size: 1.2em;
    font-weight: 700;
}

.reveal .slides section .slideContent h3 {
    font-size: 1em;
    font-weight: 500;
    font-style: italic;
}



/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #268bd2;
  /*text-decoration: underline;*/
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  -ms-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.reveal a:not(.image):hover {
  color: #78b9e6;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a6091; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 0px 0px;
  background: rgba(255, 255, 255, 0.0);
  border: 0px solid #657b83;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #268bd2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #268bd2; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #268bd2; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #268bd2; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #268bd2; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #78b9e6; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #78b9e6; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #78b9e6; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #78b9e6; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); 
  height: 6px;
 }


.reveal .progress span {
  background: #268bd2;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * code
 *********************************************/

.reveal pre code.r {
    border-collapse: collapse;
	border-spacing: 0;
    line-height: 1.3em;
	font-size: 1.0em;
	font-family: monospace;
}


/*********************************************
 * Table
 *********************************************/

.reveal table {
    border-collapse: collapse;
	border-spacing: 0;
    line-height: 1.4em;
	font-size: 0.9em;
	/*font-family: monospace;*/

}
.reveal .views-table, table {
	margin-left: 2px;
	margin-bottom: 10px;
	/*width: 1300px;*/
}
.reveal tr {
	line-height: 1.2em;
	border-bottom: #9e9e9e solid 1px;
}
.reveal tr:last-child {
	line-height: 1.2em;
}
.reveal th {
	margin: 5px 0 5px 0;
	padding: 0 5px 0 5px;
	border-right: #9e9e9e solid 1px;
	text-align: left;
	border-bottom: #9e9e9e solid 1px;
}
.reveal th:last-child {
	margin: 5px 0 5px 0;
	padding: 0 5px 0 5px;
	border-right: #9e9e9e solid 1px;
	text-align: left;
}
.reveal th:first-child {
	margin: 5px 0 5px 0;
	padding: 0 5px 0 5px;
	border: #9e9e9e solid 1px;
}
.reveal tbody tr {
	line-height: 1.2em;
	border-left: #9e9e9e solid 1px;
}
.reveal tbody tr:nth-child(odd) {
	line-height: 1.2em;
	background-color: #efefef;
}
.reveal td {
	padding: 0 5px 0 5px;
	border-right: #9e9e9e thin solid;
}

/******************************************
*Quotation
******************************************/

.reveal blockquote {
  font-family: "Open Sans", sans-serif;
  display: block;
  background: #f7fbfc;
  position: relative;
  width: 90%;
  font-style: italic;
  font-weight: 400;
  border-left: 4px solid #CACECF;
  border-top: none;
  border-bottom: none;
  border-right: none;
  box-shadow: none;
}


/*********************************
* fork me ribbon
*******/

/* Left will inherit from right (so we don't need to duplicate code) */
.github-fork-ribbon {
  /* The right and left classes determine the side we attach our banner to */
  position: absolute;

  /* Add a bit of padding to give some substance outside the "stitching" */
  padding: 2px 0;

  /* Set the base colour */
  background-color: #a00;

  /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));

  /* Add a drop shadow */
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);

  z-index: 9999;
  pointer-events: auto;
}

.github-fork-ribbon a,
.github-fork-ribbon a:hover {
  /* Set the font */
  font: 700 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;

  /* Set the text properties */
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  text-align: center;

  /* Set the geometry. If you fiddle with these you'll also need
     to tweak the top and right values in .github-fork-ribbon. */
  width: 300px;
  line-height: 40px;

  /* Set the layout properties */
  display: inline-block;
  padding: 2px 0;

  /* Add "stitching" effect */
  border-width: 1px 0;
  border-style: dotted;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.7);
}

.github-fork-ribbon-wrapper {
  width: 250px;
  height: 250px;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 9999;
  pointer-events: none;
}

.github-fork-ribbon-wrapper.fixed {
  position: fixed;
}

.github-fork-ribbon-wrapper.left {
  left: 0;
}

.github-fork-ribbon-wrapper.right {
  right: 0;
}

.github-fork-ribbon-wrapper.left-bottom {
  position: fixed;
  top: inherit;
  bottom: 0;
  left: 0;
}

.github-fork-ribbon-wrapper.right-bottom {
  position: fixed;
  top: inherit;
  bottom: 0;
  right: 0;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
  top: 62px;
  right: -63px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.left .github-fork-ribbon {
  top: 42px;
  left: -43px;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


.github-fork-ribbon-wrapper.left-bottom .github-fork-ribbon {
  top: 80px;
  left: -43px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.right-bottom .github-fork-ribbon {
  top: 80px;
  right: -43px;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.banner-wrapper {
  width: 1000px;
  height: 130px;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 9999;
  pointer-events: none;
}



<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
